DEBUG=False
SECRET_KEY=changeme
DATABASE_URL=postgresql://nimbus_user:GJNivyFN7LKH7pAMtOBXCaNVa1G8KGte@dpg-d89tmdbbc2fs73fin520-a/nimbus_vvfd
POSTGRES_DB=stratos
POSTGRES_USER=stratos
POSTGRES_PASSWORD=stratos
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
ALLOWED_HOSTS=localhost,127.0.0.1,seu-app.onrender.com
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://seu-app.onrender.com
CORS_ALLOWED_ORIGINS=http://localhost:3000
